In [2]:
import pandas as pd

En Pandas hay ods objetos core: **DataFrames** y **Series**

### DataFrame
Es una tabla, contiene una matriz de entradas individuales, cada con un valor determinado. Cada entrada corresponde a una fila(registro) y a una columna.

In [3]:
# pd.DataFrame() es un constructor para generar objetos DataFrame, se declara de forma diccionario (Key-Values)
# Las listas de diccionario asigna al indice un valor automatico (0,1,2,3,...) para cada registro
pd.DataFrame({'Yes': [50, 21], 'No': [131, 2]})

   Yes   No
0   50  131
1   21    2

Aqui, la entrada "50" corresponde a la fila 0 y a la columna "Yes"

In [4]:
# Las entradas no se limitan a enteros
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 'Sue': ['Pretty good.', 'Bland.']})

             Bob           Sue
0    I liked it.  Pretty good.
1  It was awful.        Bland.

In [5]:
# El indice que se asigna en automatico se puede modificar el nombre
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 
              'Sue': ['Pretty good.', 'Bland.']},
             index=['Product A', 'Product B'])

                     Bob           Sue
Product A    I liked it.  Pretty good.
Product B  It was awful.        Bland.

### Series
Es una secuencia de datos. **DataFrame** es una tabla  
**Series** es una lista, escencialmente es una simple _columna_ de un DataFrame

In [6]:
pd.Series([1, 2, 3, 4, 5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

Puedes asignarles nombres a los registros, pero **no** puedes darle nombre a la columna, sino un nombre "general"

In [7]:
pd.Series([30, 35, 40], index=['2015 Sales', '2016 Sales', '2017 Sales'], name='Product A')

2015 Sales    30
2016 Sales    35
2017 Sales    40
Name: Product A, dtype: int64

La Serie y el DataFrame están íntimamente relacionados.  
Es útil pensar en un DataFrame como un conjunto de Series "pegadas".

## Leer archivos

In [18]:
# Haces referencia al archivo (en caso de no estar en la misma carpeta, tienes que incluir la direccion del archivo)
# "encodig" sirve para ciertos caracteres, como los acentos 
df = pd.read_csv("Data.csv",encoding='latin-1')

In [19]:
# *shape nos ayuda a saber el tamaño de la tabla (Filas y Columnas)
df.shape

(30, 7)

In [20]:
# *head nos ayuda a ver los primeros registros (por defecto 5, pero puedes escribir cualquier numero)
df.head()

,idProducto,Códigos de producto,Precio,Cliente,Código de cliente,Pedidos,Total
0,0,51993Masc,$9.98,Candy's Beauty Supply,PINNC980,191,"$1,906.18"
1,1,49631Foun,$14.49,Rockland's,ARLVA283,152,"$2,202.48"
2,2,42292Glos,$6.74,Rudiger Pharmacy,CHEMD763,758,"$5,108.92"
3,3,86661Shad,$5.71,Elizabethtown Supply,COLSC761,308,"$1,758.68"
4,4,49541Eyel,$7.94,Rockland's,ARLVA425,50,$397.00

En este caso podemos ver que la tabla tiene sus propios indices, los cuales no los toma automaticamente, para hacer que los tome puedes definir cual va a aser el indice

In [21]:
# Aqui le decimos que la columna 0 (idProducto) va a ser el indice de la tabla (columna indice)
dfc = pd.read_csv("Data.csv",encoding='latin-1', index_col=0)
dfc

,Códigos de producto,Precio,Cliente,Código de cliente,Pedidos,Total
idProducto,,,,,,
0,51993Masc,$9.98,Candy's Beauty Supply,PINNC980,191,"$1,906.18"
1,49631Foun,$14.49,Rockland's,ARLVA283,152,"$2,202.48"
2,42292Glos,$6.74,Rudiger Pharmacy,CHEMD763,758,"$5,108.92"
3,86661Shad,$5.71,Elizabethtown Supply,COLSC761,308,"$1,758.68"
4,49541Eyel,$7.94,Rockland's,ARLVA425,50,$397.00
5,58337Foun,$13.57,Candy's Beauty Supply,PINNC939,673,"$9,132.61"
6,40014Masc,$8.46,Elizabethtown Supply,COLSC649,94,$795.24
7,86139Lips,$5.55,Candy's Beauty Supply,PINNC496,299,"$1,659.45"
8,69601Exfo,$11.05,Rockland's,ARLVA851,850,"$9,392.50"
9,25331Glos,$7.58,Rockland's,ARLVA924,169,"$1,281.02"
10,85021Foun,$11.75,Rudiger Pharmacy,CHEMD339,707,"$8,307.25"
11,69030Masc,$10.95,Elizabethtown Supply,COLSC970,461,"$5,047.95"
12,13230Masc,$11.73,Rockland's,ARLVA519,78,$914.94
13,91559Eyel,$6.66,Candy's Beauty Supply,PINNC674,444,"$2,957.04"
14,62289Masc,$12.06,Elizabethtown Supply,COLSC887,797,"$9,611.82"
15,64762Foun,$12.95,Rudiger Pharmacy,CHEMD913,355,"$4,597.25"
16,52341Foun,$13.09,Elizabethtown Supply,COLSC741,232,"$3,036.88"
17,68713Exfo,$15.77,Rockland's,ARLVA727,514,"$8,105.78"
18,35073Foun,$11.82,Elizabethtown Supply,COLSC813,189,"$2,233.98"
19,17691Masc,$11.22,Elizabethtown Supply,COLSC533,621,"$6,967.62"
20,03485Eyel,$7.00,Rudiger Pharmacy,CHEMD887,461,"$3,227.00"
21,26156Foun,$12.01,Candy's Beauty Supply,PINNC615,146,"$1,753.46"
22,75112Foun,$13.24,Elizabethtown Supply,COLSC133,261,"$3,455.64"
23,96799Foun,$10.07,Rudiger Pharmacy,CHEMD365,602,"$6,062.14"
24,20559Shad,$4.33,Elizabethtown Supply,COLSC201,225,$974.25
25,32729Masc,$13.13,Elizabethtown Supply,COLSC481,972,"$12,762.36"
26,63094Exfo,$16.94,Candy's Beauty Supply,PINNC547,362,"$6,132.28"
27,61207Foun,$9.83,Rudiger Pharmacy,CHEMD323,588,"$5,780.04"
28,17269Masc,$14.95,Rockland's,ARLVA876,381,"$5,695.95"
29,15143Exfo,$20.04,Rudiger Pharmacy,CHEMD584,782,"$15,671.28"

## Guardar archivos

In [22]:
animals = pd.DataFrame({'Cows': [12, 20], 'Goats': [22, 19]}, index=['Year 1', 'Year 2'])
animals

        Cows  Goats
Year 1    12     22
Year 2    20     19

In [ ]:
# Para guardar un archivo en csv se usa "to_csv", declarando el combre que va a tener el archivo
animals.to_csv('cows_and_goats.csv')